.iconLink {
  padding: 0 15px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: black;
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  height: 38px;
  line-height: 36px;
}

.iconLink:hover {
  background-color: #EFEFEF;
}

.iconLink svg {
  width: 20px;
  color: white;
}

.iconLink__colored {
  border: 1px solid #EE7722;
  color: #EE7722;
}

.iconLink__colored:hover {
  background-color: #FCF7F2;
}

.iconLink__coloredSolid {
  border: none;
  background-color: #EE7722;
  color: white;
}

.iconLink__coloredSolid:hover {
  background-color: #F08A42;
}

.iconLink__disabled {
  opacity: 0.5;
  pointer-events: none;
}
